* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    :root {
        /*COLORES*/

  /* Marca */
  --color-brand: #1db954; /* Verde Spotify */
  --color-brand-hover: #1ed760; /* Verde hover */

  /* Fondos */
  --color-bg-dark: #191414; /* Negro Spotify */
  --color-bg-secondary: #282828; /* Gris oscuro tarjetas */

  /* Textos */
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-text-muted: #6a6a6a;

  /*ESPACIADO*/

  /* Bordes / separadores */
  --color-border: #333333;
  --spacing-xs: 0.25rem; /*  4px */
  --spacing-sm: 0.5rem; /*  8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 4rem; /* 64px */
  --spacing-2xl: 6rem; /* 96px */
/*Bordes y radios*/
    --radius-sm: 4px;
  --radius-md: 8px;
  --radius-full: 500px; /* Para botones en píldora */
  /*Fuente*/
--font-primary:"Montserrat", "DN Sans", sans-serif;
  }

body{
 font-family: var(--font-primary);
    color: var(--color-text-primary);
    background-color: var(--color-text-primary)
    line-height: 1.5;
}
img{
    max-width: 100%;
    display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
.header{ 
    display: flex;
background-color: var(--color-text-primary);
justify-content: space-between;
padding: var(--radius-md);
align-items: center;
border-bottom: 1px solid var(--color-border);
}
.header__logo{
    height: 32px;
    width: auto;
}
.header_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.nav_link{
    color: var(--color-bg-secondary);
    font-size: 0,75rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 2px 4px;

}
.nav_link--login{
    color: var(--color-brand);
font-weight: 700;
  border: 1px solid var(--color-brand);
  padding: 4px 12px;
  border-radius: var(--radius-full);
}
/*-----------------HERO-----------------------*/
.hero{

}
.features-primary{
    background-color: var(--color-text-primary);
  
    
}
.features-secondary{
    background-color: #1db954;

}